<div class="container">
  <div class="row justify-content-center"><div class="col-auto">Select time</div></div>
  <div class="row justify-content-center"><div class="col-auto">Select group</div></div>
  <div class="row justify-content-center">
    <div class="col-auto">Group table</div>
  </div>
  <div *ngFor="let student of students" class="row">
    <div class="col-8">
      {{student.name}}
    </div>
    <div class="col-1">{{student.visit == VisitType.INTERNAL}}</div>
    <div class="col-1"></div>
    <div (click)="removeStudent(student.id)" class="col-2">
      <i class="material-icons" style="cursor: pointer">
        delete
      </i>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="newStudentName">
      </mat-form-field>
    </div>
    <div class="col-3" (click)="addStudent()">
      Add
    </div>
  </div>
  <div class="row">
    <div (click)="showStudents()">Show students</div>
  </div>
</div>
