<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <mat-form-field>
        <mat-label>Дата заняття</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="lessonDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center"><div class="col-auto">Select group</div></div>
  <div class="row justify-content-center">
    <div class="col-auto">Group table</div>
  </div>
  <div *ngFor="let student of students$ | async" class="row">
    <div class="col-6" style="background-color: red">
      {{student.name}}
    </div>
    <div class="col-4" style="background-color: green">{{student.visit}}</div>
    <div (click)="removeStudent(student.id)" class="col-2" style="background-color: blue">
      <i class="material-icons" style="cursor: pointer">
        delete
      </i>
    </div>
  </div>
  <div class="row" [formGroup]="newStudent">
    <div class="col-5">
      <mat-form-field style="width: 100%">
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Visit type</mat-label>
        <mat-select formControlName="visitType">
          <mat-option *ngFor="let option of visitOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3" (click)="addStudent()">
      Add
    </div>
  </div>
  <div class="row">
    <div (click)="showStudents()">Show students</div>
  </div>
</div>
