<app-landing>
  <h3>Створити урок</h3>
  <app-server-error-container [error]="error$ | async"></app-server-error-container>
  <form [formGroup]="createLessonForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <mat-form-field>
        <label for="time" class="form-label">Час уроку</label>
        <input
          type="datetime-local"
          class="form-control"
          id="time"
          formControlName="timestamp"
          matInput
        >
      </mat-form-field>
    </div>

    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loading$ | async"
    >
      Створити
    </button>
  </form>
</app-landing>
