<div class="container pt-5">
  <h3>Forgot password</h3>
  <div
    *ngIf="error$ | async as error"
    class="alert alert-danger"
    role="alert"
  >
    Server error: {{error.message}}
  </div>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()"
    *ngIf="!(successSend$ | async)"
  >
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loading$ | async"
    >
      Submit email
    </button>
  </form>
  <div
    class="alert alert-success"
    role="alert"
    *ngIf="successSend$ | async"
  >
    Password reset email send
    <button class="btn btn-primary" routerLink="/login">Go to login</button>
  </div>
</div>
