<app-landing>
  <h3>Твої групи</h3>
  <app-loader
    [loading]="loading$ | async"
  ></app-loader>
  <div class="d-flex justify-content-end py-1">
    <button
      class="btn btn-primary"
      routerLink="/groups/create"
    >
      Додати групу
    </button>
  </div>
  <div *ngIf="groups$ | async as groups" class="row row-cols-1 row-cols-md-4">
    <div *ngFor="let group of groups" class="col pb-1">
      <div class="card" [routerLink]="'/groups/' + group.id">
        <div class="card-body">{{group.name}}</div>
      </div>
    </div>
    <div *ngIf="groups.length === 0">Ще немає груп</div>
  </div>
</app-landing>
