<app-landing>
  <div>
    <h3>Create new user</h3>
    <div
      *ngIf="error$ | async as error"
      class="alert alert-danger"
      role="alert"
    >
      Server error: {{error.message}}
    </div>
    <div
      *ngIf="createdUser$ | async as createdUser"
      class="alert alert-secondary"
      role="alert"
    >
      User created: {{createdUser.lastName}} {{createdUser.firstName}} {{createdUser.id}}
    </div>
    <form [formGroup]="createUserForm" (ngSubmit)="submit()">
      <app-input-wrapper [control]="createUserForm.get('firstName')">
        <div class="mb-3">
          <label for="newUserFirstName" class="form-label">Firstname</label>
          <input type="text" class="form-control" id="newUserFirstName" formControlName="firstName">
        </div>
      </app-input-wrapper>
      <app-input-wrapper [control]="createUserForm.get('lastName')">
        <div class="mb-3">
          <label for="newUserLastName" class="form-label">Lastname</label>
          <input type="text" class="form-control" id="newUserLastName" formControlName="lastName">
        </div>
      </app-input-wrapper>
      <mat-form-field
        appearance="outline"
        class="w-100"
      >
        <mat-label>Role</mat-label>
        <mat-select
          formControlName="role"
        >
          <mat-option *ngFor="let item of roleItems" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="loading$ | async"
      >
        Create user
      </button>
    </form>
  </div>
</app-landing>
