<app-landing>
  <h3>Керування уроком</h3>
  <app-server-error-container
    [error]="pageDataWrapper.error$ | async"
  ></app-server-error-container>
  <app-loader [loading]="pageDataWrapper.isInStatuses(fetchStatus.INIT, fetchStatus.IN_PROGRESS) | async"></app-loader>
  <div *ngIf="pageData$ | async as pageData">
    <div>Група: <a [routerLink]="'/groups/' + pageData.group.id">{{pageData.group.name}}</a></div>
    <div>Час уроку: {{pageData.lesson.timestamp | date: 'HH:mm EE dd LLL yyyy'}}</div>
  </div>
  <div class="my-2">
    <h4>Студенти на занятті</h4>
    <app-server-error-container
      [error]="studentsWrapper.error$ | async"
    ></app-server-error-container>
    <app-loader [loading]="studentsWrapper.isInStatuses(fetchStatus.INIT, fetchStatus.IN_PROGRESS) | async"></app-loader>
    <div *ngIf="students$ | async as studentVisits">
      <div
        *ngFor="let studentVisit of studentVisits"
        class="py-1"
        [routerLink]="'/users/manage/' + studentVisit.student.id"
      >
        {{studentVisit.student.id}}: {{studentVisit.student.lastName}} {{studentVisit.student.firstName}}
        <span class="text-danger" *ngIf="studentVisit.visit.ticketId == null">Борг</span>
      </div>
      <div *ngIf="studentVisits.length === 0" class="p-2 text-warning">Немає студентів на занятті</div>
    </div>
  </div>
  <div *ngIf="searchData$ | async as searchData" class="py-2">
    <div>Відмітити студента:</div>
    <app-server-error-container
      [error]="addVisitWrapper.error$ | async"
    ></app-server-error-container>
    <div>{{searchData.user.id}}: {{searchData.user.lastName}} {{searchData.user.firstName}}</div>
    <app-input-wrapper
      [control]="ticketControl"
    >
      <mat-form-field
        appearance="outline"
        class="w-100"
      >
        <mat-label>Оплата</mat-label>
        <mat-select
          [formControl]="ticketControl"
        >
          <mat-option *ngFor="let item of ticketItems$ | async" [value]="item.value">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-input-wrapper>
    <button
      class="btn btn-primary"
      [disabled]="addVisitWrapper.isInStatus(fetchStatus.IN_PROGRESS) | async"
      (click)="addToStudent(searchData.user)"
    >Додати на урок</button>
  </div>
  <div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Пошук за ID
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-server-error-container
          [error]="searchWrapper.error$ | async"
        ></app-server-error-container>
        <form [formGroup]="searchByIdForm" (ngSubmit)="searchSubmit()">
          <app-input-wrapper
            [control]="searchByIdForm.get('studentId')"
          >
            <div class="mb-3">
              <label for="studentId" class="form-label">ID студента</label>
              <input type="text" class="form-control" id="studentId" formControlName="studentId">
            </div>
          </app-input-wrapper>
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="searchWrapper.isInStatus(fetchStatus.IN_PROGRESS) | async"
          >
            Шукати
          </button>
        </form>
      </ng-template>
    </mat-expansion-panel>
  </div>
</app-landing>
