<app-landing>
  <h3>Керування уроком</h3>
  <app-server-error-container
    [error]="pageDataWrapper.error$ | async"
  ></app-server-error-container>
  <app-loader [loading]="loading$ | async"></app-loader>
  <div *ngIf="pageData$ | async as pageData">
    <div>Група: {{pageData.group.name}}</div>
    <div>Час уроку: {{pageData.lesson.timestamp | date: 'HH:mm EE dd LLL yyyy'}}</div>
  </div>
  <div class="my-2">
    <h4>Студенти на занятті</h4>
    <div *ngIf="students$ | async as students">
      <div *ngFor="let student of students">
        {{student.id}}: {{student.lastName}} {{student.firstName}}
      </div>
      <div *ngIf="students.length === 0">Немає студентів на занятті</div>
    </div>
  </div>
  <div>
    <h4>Пошук за ID</h4>
    <app-server-error-container
      [error]="searchWrapper.error$ | async"
    ></app-server-error-container>
    <div *ngIf="searchUser$ | async as searchUser">
      <div>Знайдено користувача:</div>
      <div>{{searchUser.id}}: {{searchUser.lastName}} {{searchUser.firstName}}</div>
      <button
        class="btn btn-primary"
        (click)="addToStudents(searchUser)"
      >Додати на урок</button>
    </div>
    <form [formGroup]="searchByIdForm" (ngSubmit)="searchSubmit()">
      <app-input-wrapper
        [control]="searchByIdForm.get('studentId')"
      >
        <div class="mb-3">
          <label for="studentId" class="form-label">ID студента</label>
          <input type="text" class="form-control" id="studentId" formControlName="studentId">
        </div>
      </app-input-wrapper>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="searchLoading$ | async"
      >
        Шукати
      </button>
    </form>
  </div>
</app-landing>
