<div class="container pt-5">
  <h3>Set password</h3>
  <div
    *ngIf="error$ | async as error"
    class="alert alert-danger"
    role="alert"
  >
    Server error: {{error.message}}
  </div>
  <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
    <app-input-wrapper [control]="setPasswordForm.get('password')">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
    </app-input-wrapper>
    <app-input-wrapper [control]="setPasswordForm.get('confirmPassword')">
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      </div>
    </app-input-wrapper>
    <button
      type="submit"
      class="btn btn-primary w-100"
      [disabled]="loading$ | async"
    >
      Set password
    </button>
  </form>
</div>
