<div class="container pt-5">
  <app-server-error-container [error]="error$ | async"></app-server-error-container>
  <form [formGroup]="form" (ngSubmit)="login()">
    <app-input-wrapper [control]="form.get('email')">
      <div class="input-group pt-2">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="text" class="form-control" placeholder="Login" formControlName="email">
      </div>
    </app-input-wrapper>
    <app-input-wrapper [control]="form.get('password')">
      <div class="input-group pt-2">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="password" class="form-control" placeholder="Password"  formControlName="password">
      </div>
    </app-input-wrapper>
    <div *ngIf="isLoading$ | async">Please login handling</div>
    <div class="pt-2">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="isLoading$ | async"
      >Login</button>
    </div>
    <div class="pt-3 d-flex justify-content-end">
      <div
        class="text-secondary user-select-none"
        routerLink="/forgot-password"
      >Forgot password</div>
    </div>
  </form>
</div>
