<app-landing>
  <div
    *ngIf="loading$ | async"
    class="spinner-border"
    role="status"
  >
    <span class="visually-hidden invisible">Loading...</span>
  </div>
  <div
    *ngIf="error$ | async as error"
    class="alert alert-danger"
    role="alert"
  >
    Server error: {{error.message}}
  </div>
  <div *ngIf="pageData$ | async as pageData">
    <h3>Група: {{pageData.group.name}}</h3>
    <div class="d-flex justify-content-end py-1">
      <button
        class="btn btn-primary mr-1"
        [routerLink]="'/lessons/schedule/' + pageData.group.id"
      >
        Розклад
      </button>
      <button
        class="btn btn-primary"
        [routerLink]="'/lessons/create/' + pageData.group.id"
      >
        Додати урок
      </button>
    </div>
    <div>
      <h4>Уроки</h4>
      <div class="row row-cols-1 row-cols-md-4">
        <div
          *ngFor="let lesson of pageData.lessons"
          class="col pb-1"
        >
          <div
            class="card"
            [routerLink]="'/lessons/manage/' + lesson.id"
          >
            <div class="card-body">
              {{lesson.timestamp | date: 'HH:mm EE dd LLL yyyy'}}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pageData.lessons.length === 0">
        Немає ще уроків в цій групі
      </div>
    </div>
  </div>
</app-landing>
