<ng-container *ngIf="control">
  <ng-content></ng-content>
<!--  <div>errors: {{control.errors | json}}</div>-->
  <div *ngIf="control.invalid && control.touched && control.errors"
       class="alert alert-danger mt-1">

    <div *ngIf="control.errors.required">
      Це поле обов'язкове
    </div>
    <div *ngIf="control.errors.email">
      Це поле має бути електоронною адресою
    </div>
    <div *ngIf="control.errors.minlength">
      Це поле має бути {{control.errors.minlength.requiredLength}} символів
    </div>
    <div *ngIf="control.errors.min">
      Це поле не може бути менше ніж: {{control.errors.min.min}}
    </div>
  </div>
</ng-container>
